@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* Banner Section */
.banner-section {
  background-image: url(./images/banner1.png);
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 100px 200px 200px 200px;
  margin-bottom: 100px;
}
.banner-section-heading {
  font-size: 3rem;
  margin: 0px;
}
.banner-section-text {
  font-size: 1rem;
  color: rgb(44, 40, 40);
}
.contact-me-button {
  background-color: orangered;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 1rem 1.8rem;
  cursor: pointer;
}
/* Failure Section */
.failure-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.failure-section-img > img {
  width: 80%;
}
.failure-section-text > ul {
  padding-inline-start: 0px;
}
.failure-section-text > ul > li {
  list-style: none;
  display: flex;
  align-items: center;
}
.checkmark {
  height: 20px;
}
/* My Plan Section */
